<h1>ログイン</h1>

<%= form_with url: sessions_path method do |form| %>
  <div>
    <%= form.label :mail, 'メールアドレス', style: "display: block" %>
    <%= form.text_field :mail, value: params[:mail] %>
  </div>

  <div>
    <%= form.label :password, 'パスワード', style: "display: block" %>
    <%= form.text_field :password, value: params[:password] %>
  </div>

  <div>
    <%= form.submit 'ログイン' %>
  </div>
<% end %>
