<%= form_with(model: @comment, url: @comment.new_record? ? hotel_comments_path(@hotel) : comment_path(@comment), local: true) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit "更新" %>
  </div>
<% end %>

<div class="actions">
  <%= button_to "削除", comment_path(@comment), method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: "delete-comment-link" %>
  <i class="bi bi-trash-fill"></i>
</div>
