<% content_for :styles do %>
  <%= stylesheet_link_tag 'maps_details', media: 'all', "data-turbo-track": "reload" %>
<% end %>

<li class="hotel-item">
  <h2><%= @hotel['hotelName'] %></h2>
  <img src="<%= @hotel['hotelImageUrl'] %>" alt="<%= @hotel['hotelName'] %>">
  <p><%= @hotel['hotelSpecial'] %></p>

  <!-- タグ部分だけをフレームにする -->
  <% frame_id = "hotel_#{@hotel['hotelNo']}_tags" %>
  <div class="tag-section">
    <%= turbo_frame_tag frame_id do %>
      <%= render 'tags/tags', hotel: @hotel, frame_id: frame_id %>
    <% end %>
  </div>

  <!-- フレームの外にリンクやボタンを置く -->
  <div class="hotel-links">
    <%= link_to 'みんなの旅ログをみる',
      hotel_path(@hotel['hotelNo']),
      class: "btn btn-primary d-inline-block",
      data: { turbo: false } %>
    <a href="<%= @hotel['hotelInformationUrl'] %>" target="_blank">詳細情報(楽天トラベル)</a>
    <%= render 'bookmark_buttons', hotel: @hotel %>
  </div>
</li>

<div>
  <%= link_to 'マップ一覧に戻る', maps_path, class: 'btn btn-primary' %>
  <br>
  <%= link_to 'ホームに戻る', root_path, class: 'btn btn-primary' %>
</div>
