<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'styles', media: 'all' %>
</head>
<body>
  <div class="image-container">
    <img src="<%= image_path('pictures/IMG_1150.JPG') %>" alt="写真1">
    <img src="<%= image_path('pictures/IMG_1179.JPG') %>" alt="写真2">
    <img src="<%= image_path('pictures/IMG_3290.JPG') %>" alt="写真3">
    <img src="<%= image_path('pictures/IMG_3934.JPG') %>" alt="写真４">
    <img src="<%= image_path('pictures/IMG_3990.JPG') %>" alt="写真５">
  </div>
  <h1 id="title" class="center-text">スペシャルステイで至福の時間を</h1>
  <h2 class="center-text">オールインクルーシブホテル</h2>
  <br>

  <div style="width: 400px; margin: 0 auto;">
  <%= form_with url: search_hotels_path, method: :get, local: true, html: { class: "center-form" } do |f| %>
    <%= f.hidden_field :name, data: { autocomplete_target: 'hidden' } %>
    <div class="input-row">
      <%= f.label :keyword, "キーワード" %>
      <%= f.text_field :keyword %>
    </div>
    <div class="button-row">
      <%= f.submit "検索" %>
    </div>
  <% end %>
  </div>

  <% if @hotels.present? %>
    <ul>
      <% @hotels.each do |hotel| %>
        <li><%= hotel['hotelBasicInfo']['hotelName'] %></li>
      <% end %>
    </ul>
  <% end %>

  <h2>地図から探す</h2>
  <%= link_to '地図を見る', maps_path %>
</body>
</html>
