<head>
  <%= stylesheet_link_tag 'styles', media: 'all' %>
</head>
<body>
  <h1>オールインクルーシブの宿探し</h1>
  <br>
  <%= form_with url: search_hotels_path, method: :get, local: true do %>
    <div>
      <%= label_tag :keyword, "キーワード" %>
      <%= text_field_tag :keyword, params[:keyword] %>
    </div>
    <div>
      <%= submit_tag "検索" %>
    </div>
  <% end %>

  <% if @hotels.present? %>
    <ul>
      <% @hotels.each do |hotel| %>
        <li><%= hotel['hotelBasicInfo']['hotelName'] %></li>
      <% end %>
    </ul>
  <% end %>

  <footer>
      <p>    <h2>オールインクルーシブについて</h2> <!-- 見出し -->
    <a href="<%= url_for(controller: 'home', action: 'footer') %>" style="color: #fff;">オールインクルーシブとは</a>
  </footer>
</body>