<%= form_with model: @hotel_tag, url: tags_path, method: :post do |form| %>
  <div>
    <%= form.hidden_field :hotel_id, value: @hotel_id %>
  </div>
  <div>
    <%= form.label :tag_id, "タグ" %>
    <%= form.text_field :tag_id %>
  </div>
  <div>
    <%= form.submit "タグを追加" %>
  </div>
<% end %>
