<turbo-frame id="application">
<%= form_with model: @hotel_tag, url: tags_path, method: :post do |form| %>
<%= hidden_field_tag :return_to, params[:return_to] || request.fullpath %>
  <div>
    <%= form.hidden_field :hotel_id, value: @hotel_id %>
  </div>
  <div>
    <%= form.label :tag_id, "タグ" %>
    <%= form.text_field :tag_id %>
  </div>
  <div>
    <%= form.submit "タグを追加" %>
  </div>
<% end %>

<% if @hotel_tag.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@hotel_tag.errors.count, "error") %> prohibited this hotel_tag from being saved:</h2>
    <ul>
      <% @hotel_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="mb-3">
  <%= link_to '戻る', (params[:return_to] || hotels_path), class: "btn btn-secondary" %>
</div>
</turbo-frame>
