<% content_for :head do %>
<% end %>

<% content_for :styles do %>
  <%= stylesheet_link_tag "hotels", media: "all", "data-turbo-track": "reload" %>
<% end %>
<%= form_with url: search_hotels_path, method: :get, data: { turbo: false } do %>
  <div>
    <%= label_tag :keyword, "キーワード" %>
    <%= text_field_tag :keyword, params[:keyword] %>
  </div>
  <div>
    <%= submit_tag "検索" %>
  </div>
<% end %>

  <% if @hotels.present? %>
    <ul class="hotel-list">
      <% @hotels.each do |hotel| %>
        <li class="hotel-item">
          <h2><%= hotel['hotelName'] %></h2>
          <img src="<%= hotel['hotelImageUrl'] %>" alt="<%= hotel['hotelName'] %>">
          <p><%= hotel['hotelSpecial'] %></p>
      
      <% frame_id = "hotel_#{hotel['hotelNo']}_tags" %>
        <%= turbo_frame_tag frame_id do %>
          <%= render 'tags/tags', hotel: hotel, frame_id: frame_id %>
        <% end %>

          <%= link_to 'みんなの旅ログをみる', 
            hotel_path(id: hotel["id"], return_to: request.fullpath), 
            class: "btn btn-primary d-inline-block",
            data: { turbo: false } %>
          <a href="<%= hotel['hotelInformationUrl'] %>" target="_blank">詳細情報(楽天トラベル)</a>
          <%= render 'bookmark_buttons', hotel: hotel %>
        </li>
      <% end %>    
    </ul>
  <% else %>
    <p>No, such word</p>
  <% end %>

   <div class="mt-3">
    <%= paginate @hotels, theme: 'bootstrap-5' %>
  </div>
  <br>
  <div>
    <%= link_to 'ホームに戻る', root_path, class: 'btn btn-primary', data: { turbo: false } %>
  </div>
