<h1>Hotels#index</h1>
<p>Find me in app/views/hotels/index.html.erb</p>
<h1>オールインクルーシブの宿</h1>
<%= form_with url: search_hotels_path, method: :get, local: true, data: { turbo_frame: "hotels" } do %>
  <%= label_tag :keyword, "キーワード" %>
  <%= text_field_tag :keyword %>
  <%= submit_tag "検索" %>
<% end %>

<turbo-frame id="hotels">
  <ul>
    <% @hotels.each do |hotel| %>
      <li>
        <%= link_to hotel['hotelBasicInfo']['hotelName'], hotel_path(hotel['hotelBasicInfo']['hotelNo']) %>
      </li>
    <% end %>
  </ul>
</turbo-frame>