<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1>みんなの旅ログ</h1>
      <article class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <%= image_tag @hotel["hotelImageUrl"], width: "300", height: "200", class: "card-img-top img-fluid" %>
            </div>
            <div class="col-md-9">
              <h3 style="display: inline;"><%= @hotel["hotelName"] %></h3>
              <ul class="list-inline">
              </ul>
            </div>
          </div>
          <p><%= simple_format(@hotel["hotelSpecial"]) %></p>
          <p><%= link_to '詳細情報', @hotel["hotelInformationUrl"], target: '_blank' %></p>
          <table class="table">
            <tbody id="table-comment">
              <%= render 'comments/comment', locals: { comments: @comments } %>
            </tbody>
          </table>
        </div>
      </article>
    </div>
  </div>
  <%= render 'comments/form', comment: @comment, hotel: @hotel if logged_in? %>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
    </div>
  </div>
</div>
