<h1><%= @hotel['hotelName'] %></h1>
<p><%= @hotel['hotelSpecial'] %></p>
<p><%= @hotel['address1'] %> <%= @hotel['address2'] %></p>
<p>電話番号: <%= @hotel['telephoneNo'] %></p>
<p>最寄駅: <%= @hotel['nearestStation'] %></p>
<p>レビュー平均: <%= @hotel['reviewAverage'] %></p>
<p>レビュー数: <%= @hotel['reviewCount'] %></p>
<%= link_to '戻る', hotels_path, class: 'btn btn-primary' %>