<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "allinclusive" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "styles", "data-turbo-track": "reload" %>
    
  </head>

  <body class="bg-orange-600">
    <header>
      <h1>My Application</h1>
      <nav>
        <ul>
          <li><a href="/">オールインクルーシブとは？</a></li>
          <li><a href="/about">旅ログ</a></li>
          <li><a href="/contact">施設登録</a></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

  <footer>
    <h3>オールインクルーシブについて</h3>
    <p>
        <a href="<%= url_for(controller: 'home', action: 'footer') %>" style="color: #fff;">オールインクルーシブとは</a>
        <br> 
        <a>オールインクルーシブの魅力</a>
    </p>
  </footer>

</body>
</html>

