<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title><%= content_for(:title) || "allinclusive" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "styles", "data-turbo-track": "reload" %>

  <body>

  <header>
      <% if logged_in? %>
        <%= render 'home/header/header' %>
      <% else %>
        <%= render 'home/header/before_login_header' %>
      <% end %>
  </header>
  
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

  </head>


  <%= yield %>


  <footer>
    <h3>オールインクルーシブについて</h3>
    <p>
        <%= link_to 'オールインクルーシブとは', explanation_path %>
        <br> 
        <%= link_to 'オールインクルーシブの魅力', explanation_path %>
    </p>
  </footer>

</body>
</html>

