<!DOCTYPE html>
<html>
  <head>

    <title><%= content_for(:title) || "allinclusive" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "styles", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "hotels", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tags", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'comments', media: 'all', 'data-turbo-track': 'reload' %>
  </head>

   <body>

    <header>
        <% if logged_in? %>
          <%= render 'home/header/header' %>
        <% else %>
          <%= render 'home/header/before_login_header' %>
        <% end %>

  
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
      <% end %>


    </header>

    <main>
      <%= yield %>
    </main>

   <%= render 'home/footer/footer' %> <!-- フッターをレンダリング -->
 </body>
</html>
